@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --color-bg1: #e6e6ff;
  --color-bg2: #f3f4f6;

  /* --color-t1: #24263d; */
  --color-t1: #1e2939;
  --color-t2: #ffffff;

  --color-btn: #193cb8;

  --font-montserrat: "Montserrat", sans-serif;
}

@layer base {
  body {
    @apply bg-bg1 font-montserrat overflow-x-hidden w-screen;
  }

  .animatedButton {
    animation-duration: 10000ms !important;
  }
}
